@import url('https://fonts.googleapis.com/css?family=Sulphur+Point:400,700&display=swap');

/*========================================
General Styles
========================================*/
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*========================================
Form Styles
========================================*/
#price-form {
    background-color: #000;
    background-image: url("../img/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 800px;
    padding: 40px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;

    .container {
        width: 1600px;
        max-width: 94%;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-content: center;
        height: 100%;
    }

    .header {

    }

    #go-back-btn {
        background: transparent;
        border: 0;
        box-shadow: none;
        outline: none;
        color: #fff;
        font-family: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        line-height: 1;
        cursor: pointer;

        .icon {
            margin-right: 10px;
            margin-left: 10px;
            transition: margin .3s ease-in-out;
        }

        .text {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            padding-bottom: 2px;
        }

        &:hover {
            .icon {
                margin-left: 0;
            }
        }
    }

    // ======================  START body styles
    .body {
        color: #fff;
        text-align: center;
        position: relative;
        min-height: 600px;
        //background: pink;
        overflow: hidden;
    }

    .form-page {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        //background: rgba(pink, .2);
        opacity: 0;
        visibility: hidden;
        transition: opacity .5s ease-in-out;

        &.show {
            opacity: 1;
            visibility: visible;
            transition: opacity .5s ease-in-out;
        }
    }

    .section-text {
        margin-bottom: 80px;
    }

    .section-title {
        font-style: normal;
        font-weight: 700;
        font-size: 46px;
        line-height: 56px;
    }

    .para {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        //line-height: 0;
    }

    .option-button {
        background: linear-gradient(196.72deg, #FA2B56 0%, #F91C3D 100%);
        box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 28px 23px 32px 23px;
        font-family: inherit;
        text-align: left;
        border: 0;
        min-width: 330px;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 37px;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover {
            background: linear-gradient(198.67deg, #FC3F6D 0%, #FC3259 100%);
        }

        .text {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: #fff;
            text-align: left;
        }
    }

    // ======================  END body styles

    .footer {
        text-align: right;
    }

}

// ======================  START page specific styles
[data-active-page="1"] {
    display: none;

    .header {
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease-in-out;
    }
}
// -------------- Page 2
#options-2 {
    .option-button {
        min-width: auto;
        padding: 21px 35px;
        margin: 0 25px;

        .text {
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
        }
    }
}
// ======================  END page specific styles
